body {
    background-color: #A9A9A9;
    font-family: Tahoma;
    font-size: 14px;
    line-height:30px;
    background-image: url("bg5.jpg");
    background-size: 100%;
    background-repeat: repeat;
}
.header{
    background-color: white;
    text-align: center;
}



.logo{
    display: block;
    background-color: white;
}

h1 {
    text-align: left;
    font-weight: bold;
    font-size: 35px;
}

h2 {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
h3 {
    color: #000000;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
h4 {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

p {
    color: black;
    font-size: 20px;}

.block{
    width:50%;
    box-sizing: border-box;
    margin:auto;
    padding: 25px 25px 25px 25px;
    background-color: white;
    border: 1px solid black;
    opacity: 0.8;
}

.block2{
    width:50%;
    box-sizing: border-box;
    margin: auto;
    padding: 25px 25px 25px 25px;
    background-color: white;
    border: 1px solid black;
    opacity: 0.8;
}

.image2{
    text-align: center;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}
}



